html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
#turn{
    max-width: 600px;
    max-height: 40px;
    width: 90vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    float: right;
    border: 2px solid rgba(0, 0, 0);
    border-style: inset;
    text-align: center;
    background: #fff;
    transition: .5s linear;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 90vw; /* Adjust for mobile */
    max-width: 600px; /* Adjust for desktop */
    aspect-ratio: 1; /* Ensures the board is always square */
    border: 2px solid #333;
}
.gamecell {
    width: 100%;
    height: 0;
    padding-bottom: 100%; /* Creates a square aspect ratio */
    position: relative;
    box-sizing: border-box;
    background-color: #eeeed2;
}
.gamecell.dark{
    background-color: #769656;
}

.moveoption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 2;
    background-color: rgba(238, 166, 33, 0.6);
}
.selected-piece {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 2;
    background-color: rgb(231, 225, 135);
}

@media (min-width: 768px) {
    .chessboard {
        width: 60vw; /* Adjust for larger screens */
        max-width: 700px; /* Further adjust for large desktops */
    }
}

/* Styling for the chess piece container */
.chess-piece {
    max-width: 80%;          /* Ensures the div fits the cell */
    height: auto;
    max-height: 80%;         /* Same height as the cell */
    cursor: pointer;      /* Shows a pointer cursor on hover */
    position: relative;   /* Allows for drag positioning if needed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    align-items: center;    /* Center content vertically */
    justify-content: center;/* Center content horizontally */
}

/* Styling for the chess piece images */
.chess-piece img {
    max-width: 100%;      /* Scale image to fit div */
    max-height: 100%;     /* Scale image to fit div */
    padding-top: 10%;     /* shift down to center of cell */
}
