html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
div * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#turn{
    max-width: 414px;
    max-height: 30px;
    width: 100%;
    height: 100%;
    position: relative;
    margin-right: 21px;
    float: right;
    border-right: 5px;
    border: 1px solid rgba(0, 0, 0);
    border-style: inset;
    text-align: center;
    background: #fff;
    transition: .5s linear;
}
.turnheigtlight{
    background: #5cb85c !important;
    color: #fff;
}
#game_frame{
    max-height: 488px;
    max-width: 488px;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 20px auto;
}
.row_id{
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    float: left;
    margin: 1px;
    padding: 15px 0 0 20px;
}
.col_id{
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    float: left;
    margin: 1px;
    padding: 15px 0 0 20px;
}
.gamecell{
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    float: left;
    margin: 1px;
    transition: all 0.10s ease-in-out;
    border-radius: 5px;
    font-size: 30pt;
    padding: 0 0 0 3px;
    cursor: pointer;
    z-index: 1;
}
.gamecell:hover{
    color: #fff;
    background: rgba(0, 164, 162, 0.85);
    animation: 0.10s ease-in-out infinite alternate;
}
.black{
    background: rgba(245, 209, 176, 0.7);
}
.gray{
    background: rgba(180, 180, 180, 0.7);
}